<main class="main-wrap">
    <section class="content-main">
        <div>
            <a href="/profile"><i class="fa-solid fa-arrow-left-long"></i> Go back</a>
        </div>
        <br>
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Address</h2>
                </div>

            </div>
            <div>
                <% if (typeof message !== 'undefined') { %>
                <p class="alert alert-success mt-3 text-center" style="width: 75%;"><%= message %></p>
               <% } %> 
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="/add-address" method="post" >
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Name</label>
                                        <div class="row gx-2">
                                            <input placeholder="Enter name" type="text" class="form-control"
                                                name="name" required id="user-name">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Mobile</label>
                                        <input placeholder="Mobile" type="tel" class="form-control" name="mobile"
                                            required id="user-phone">

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">PIN</label>
                                        <input placeholder="PIN code" type="number" class="form-control"
                                            name="pincode" required id="user-pin-code">

                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Locality</label>
                                    <input type="text" placeholder="Locality" class="form-control" id=""
                                        name="locality" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full Address</label>
                                    <input type="text" placeholder="Address" class="form-control" id="" name="area"
                                        required >
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">District</label>
                                        <input placeholder="District" type="text" class="form-control"
                                            name="district" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">State</label>
                                    <select class="form-select" name="state" required>
                                        <option value="">Select</option>
                                        <option> Kerala </option>
                                        <option> Tamil Nadu </option>
                                        <option> Andrapradesh </option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">Submit</button>

                            </div>
                        </form>
                    </div>
                </div> <!-- card end// -->
            </div>
        </div>

    </section> <!-- content-main end// -->