<script src="https://kit.fontawesome.com/1236d29865.js" crossorigin="anonymous"></script>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-5">
                <div>
                    <a href="/profile"><i class="fa-solid fa-arrow-left-long"></i> Go back</a>
                </div>
                <br>
                <div
                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-30">Change password</h3>
                        </div>
                        <!-- <% if(typeof updated !== 'undefined') { %>
                        <p style="color: green;"><%=updated%></p>
                        <% } %> -->
                        <form action="/change-password" method="post">
                            <!-- password input -->
                            <div>
                                <% if(typeof message !== 'undefined') { %>
                                <p style="color: red;"><%=message%></p>
                                <% } %>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" placeholder="Password" class="form-control" name="password"
                                    required="" id="user-password" onkeyup="">
                                <span id="password-error"></span>
                            </div>
                            <!-- new password input -->
                            <div class="form-outline mb-4">
                                <input type="password" placeholder="New password" class="form-control"
                                    name="newPassword" required="" id="user-new-password" pattern=".{8,}"
                                    onkeyup="">
                                <span id="new-password-error"></span>
                            </div>

                            <div>
                                <% if( typeof notMatch !== 'undefined') { %>
                                <p style="color: red;"><%=notMatch%></p>
                                <% } %>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" placeholder="Confirm password" class="form-control"
                                    name="confirmPassword" required="" id="user-confirm-password" pattern=".{8,}"
                                    onkeyup="">
                                    <small class="text-danger" id="passwordError" style="display: none;">Passwords do not match.</small>
                                <span id="confirm-password-error"></span>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    const confirmPasswordInput = document.getElementById('user-confirm-password');
    const passwordInput = document.getElementById('user-new-password');
    const passwordError = document.getElementById('passwordError');
  
    confirmPasswordInput.addEventListener('keyup', () => {
      if (confirmPasswordInput.value !== passwordInput.value) {
        passwordError.style.display = 'block';
      } else {
        passwordError.style.display = 'none';
      }
    });
  </script>