<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">New Password</h2>

        <% if (typeof message !== 'undefined') { %>
            <p class="text-center text-muted"><%= message %></p>
          <% } %>
    

        <form action="/setPassword" method="post">
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" name="newPassword" pattern=".{8,}" id="newPassword" placeholder="Enter new password" required>
            <input type="hidden" name="userId" value="<%=userId%>" > 
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" pattern=".{8,}" id="confirmPassword" placeholder="Confirm new password" required>
            <small class="text-danger" id="passwordError" style="display: none;">Passwords do not match.</small>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Set Password</button>
        </form>
      </div>
    </div>
  </div>

  
<script>
  const confirmPasswordInput = document.getElementById('confirmPassword');
  const passwordInput = document.getElementById('newPassword');
  const passwordError = document.getElementById('passwordError');

  confirmPasswordInput.addEventListener('keyup', () => {
    if (confirmPasswordInput.value !== passwordInput.value) {
      passwordError.style.display = 'block';
    } else {
      passwordError.style.display = 'none';
    }
  });
</script>