<style>
    body {
        font-family: Arial, sans-serif;
        /* background-color: #f2f2f2; */
        color: #333;
        /* margin: 0; */
        /* padding: 0; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* height: 100vh; */
    }

    #notFound {
        text-align: center;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .emoji {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .message {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .back-link {
        color: #007BFF;
        text-decoration: none;
    }
</style>

<div class="container " id="notFound">
    <div class="emoji">😔</div>
    <div class="message">No products found for the given criteria.</div>
    <a class="back-link" href="/">Go back to the homepage</a>
</div>