<main class="main">
    <div class="page-header breadcrumb-wrap">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row mt-60">
                    <div class="col-sm-12">
                        <div class="w-50 mx-auto text-center">
                            <!-- {{!-- <img src="assets/imgs/theme/404.png" width="350" alt="Page Not Found"> --}} -->
                            <h3 class="mt-40 mb-15">Thank you for the purchase</h3>
                            <a href="/" class="btn btn-primary mt-4"><i
                                    class="material-icons md-keyboard_return"></i>Continue shopping</a>
                            <a href="/orders" class="btn btn-secondary mt-4 ml-3" id="generate-invoice-button"><i
                                    class="material-icons md-file_download"></i>Your orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>