<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center">Signup</h1>

      <% if (typeof message !=='undefined' ) { %>
        <p class="text-center text-muted">
          <%= message %>
        </p>
        <% } %>

          <form action="" method="post">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" pattern="[A-Za-z]+" name="firstName" required
                placeholder="Enter Your First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" pattern="[A-Za-z]+" name="lastName" required
                placeholder="Enter Your Last Name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input type="text" class="form-control" id="mobile" pattern="[0-9]{10}" name="mobile" required
                placeholder="Enter Mobile">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required
                placeholder="Enter Password" pattern=".{8,}" title="Password must be at least 8 characters long.">
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required
                placeholder="Enter Password">
                <small class="text-danger" id="passwordError" style="display: none;">Passwords do not match.</small>

            </div>
            <div class="text-center">
              <input class="btn btn-primary btn-block" type="submit" value="Signup">
            </div>
          </form>

          <div class="text-center mt-3">
            <p>Already have an account? <a href="/login">Login</a></p>
          </div>
    </div>
  </div>
</div>


<script>
  const confirmPasswordInput = document.getElementById('confirmPassword');
  const passwordInput = document.getElementById('password');
  const passwordError = document.getElementById('passwordError');

  confirmPasswordInput.addEventListener('keyup', () => {
    if (confirmPasswordInput.value !== passwordInput.value) {
      passwordError.style.display = 'block';
    } else {
      passwordError.style.display = 'none';
    }
  });
</script>